# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

bower_components/
.idea/
.sass-cache/
.tmp/
plugins/
platforms/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
www/

plugins/android.json
plugins/ios.json

$RECYCLE.BIN/git

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
