page-profile {
  .ion-navbar{
    padding-left: 1rem;
    padding-right: 5rem;
    text-align: center;
  }
  .profile-button {
    max-width: 75%;
    max-height: 3rem;
    margin-bottom: 2%;
  }


}
