page-home {
  background-color: #EDEFF2;
  display: block;

  button {
    background-color: transparent;
    width: 15vw;
  }


  div.toolbar-title {
    color: #CACDD2 !important;
    font-family: "Bryant Pro Bold Alternate", Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
  }

  .home-page{
    background-color: #EDEFF2;
    padding: 3rem;
  }

  .meter-list {
    position: inherit;
    top: .25rem;
    width: 100%;
  }

  meter-card {
    width: 100%;
  }
}
