page-signup {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

    p {
      font-size: 0.8em;
      color: #d2d2d2;
    }

    ion-label {
      margin-left: 5px;
    }

    ion-input {
      padding: 5px;
    }

    .invalid {
      border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
      border-bottom: 0 !important;
    }
  .login-img {
    max-width: 30%;
    margin-top: 20%;
    margin-bottom: 15%;
  }
  .login-input{
    max-width: 75%;
    flex: 2;
    margin-bottom: 2%;
    background-color: $primary;
  }
  .primary-color{
    background-color: $primary;
  }
  .bottom-row{
    max-width: 100%;
    margin-left: 22.5%;
  }
  .login-input{
    max-width: 75%;
    flex: 2;
    margin-bottom: 2%;
  }
  .icon-image{
    height:3rem;
    margin-right: 2%;
  }

}
